<div class="min-h-screen flex flex-col">

  <!-- Navbar -->
  <nav class="bg-c-beige-100 h-16 fixed top-0 left-0 right-0 z-50">
    <div class="h-16 flex flex-row justify-center items-center">

      <!-- Icono de Menu y Lupa -->
      <div class="flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#E55204" class="size-5 ml-5"><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#E55204" class="size-5 mx-5"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
      </div>

      <!-- Icono/Logo de la empresa -->
      <div class="ml-auto mr-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 40" fill="none" class="size-10 mx-5">
          <path fill="#E55204" d="M23.5 6.5C17.5 6.5 13.75 9.5 12.25 15.5C14.5 12.5 17.125 11.375 20.125 12.125C21.8367 12.5529 23.0601 13.7947 24.4142 15.1692C26.6202 17.4084 29.1734 20 34.75 20C40.75 20 44.5 17 46 11C43.75 14 41.125 15.125 38.125 14.375C36.4133 13.9471 35.1899 12.7053 33.8357 11.3308C31.6297 9.09158 29.0766 6.5 23.5 6.5ZM12.25 20C6.25 20 2.5 23 1 29C3.25 26 5.875 24.875 8.875 25.625C10.5867 26.0529 11.8101 27.2947 13.1642 28.6693C15.3702 30.9084 17.9234 33.5 23.5 33.5C29.5 33.5 33.25 30.5 34.75 24.5C32.5 27.5 29.875 28.625 26.875 27.875C25.1633 27.4471 23.9399 26.2053 22.5858 24.8307C20.3798 22.5916 17.8266 20 12.25 20Z"/>
          <defs><linearGradient id="%%GRADIENT_ID%%" x1="33.999" x2="1" y1="16.181" y2="16.181" gradientUnits="userSpaceOnUse"><stop stop-color="%%GRADIENT_TO%%"/><stop offset="1" stop-color="%%GRADIENT_FROM%%"/></linearGradient></defs>
      </svg>
      </div>

      <!-- Icono de Usuario y pedido -->
      <div class="flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#E55204" class="size-6 mx-5">
          <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#E55204" class="size-6 mr-5">
          <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z" clip-rule="evenodd" />
        </svg>
      </div>

    </div>
  </nav>

  <!-- Contenedor Hero -->
  <section class="h-screen bg-cover bg-center flex items-end pb-16 justify-center" style="background-image: url('assets/img/fondo_tres_islas.png');">
    <!-- Botón para ir al Menú -->
    <div class="h-12 w-2/3 bg-c-beige-100 rounded-full flex justify-between px-6 items-center shadow-lg">
      <p class="text-center nunito-extra-bold" style="color: #E55204;">MENÚ</p>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="#E55204" class="size-5"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
    </div>
  </section>

  <!-- Sección Sandwiches -->
  <section id="menu" class="p-6 flex flex-col items-start justify-center text-gray-800 bg-white">

    <!-- Titulo de sección de comida -->
    <p class="text-center nunito-extra-bold mb-2" style="font-size: 24px;">SANDWICHES</p>

    <!-- Card de platillo -->
    <div class="flex items-start space-x-4 py-2 border-b border-gray-300 bg-white">

      <!-- Contenido -->
      <div class="h-full flex flex-col items-start space-y-2">
        <h3 class="nunito-extra-bold" style="font-size: 16px;">GRILLED CHEESE</h3>
        <p class="text-gray-600 nunito-regular line-clamp-3" style="font-size: 12px;">
          Sandwich de tres quesos, tocino glaseado en maple, sopa de tomate y queso de cabra.
        </p>
        <span class="inline-flex items-center rounded-md bg-c-beige-100 px-4 py-1 nunito-extra-bold" style="font-size: 14px; color: #E55204;">MX $195.00</span>
      </div>

      <!-- Imagen con botón flotante -->
      <div class="relative w-32 h-32 bg-gray-300 flex-shrink-0 rounded-lg">

        <!-- Botón flotante -->
        <button class="absolute bottom-2 right-2 w-8 h-8 rounded-full bg-c-beige-100 text-white flex items-center justify-center shadow-lg" aria-label="Botón flotante">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#E55204" class="size-4"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
        </button>
      </div>
    </div>

    <!-- Card de platillo -->
    <div class="flex items-start space-x-4 py-2 border-b border-gray-300 bg-white">

      <!-- Contenido -->
      <div class="h-full flex flex-col items-start space-y-2">
        <h3 class="nunito-extra-bold" style="font-size: 16px;">SMOKED PULLED PORK</h3>
        <p class="text-gray-600 nunito-regular line-clamp-3" style="font-size: 12px;">
          Cerdo desmenuzado y ahumado, BBQ asiatica, ensalada de col-manzana verde.
        </p>
        <span class="inline-flex items-center rounded-md bg-c-beige-100 px-4 py-1 nunito-extra-bold" style="font-size: 14px; color: #E55204;">MX $195.00</span>
      </div>

      <!-- Imagen con botón flotante -->
      <div class="relative w-32 h-32 bg-gray-300 flex-shrink-0 rounded-lg">

        <!-- Botón flotante -->
        <button class="absolute bottom-2 right-2 w-8 h-8 rounded-full bg-c-beige-100 text-white flex items-center justify-center shadow-lg" aria-label="Botón flotante">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#E55204" class="size-4"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
        </button>
      </div>
    </div>

  </section>

  <!-- Sección Tacos -->
  <section id="menu" class="p-6 flex flex-col items-start justify-center text-gray-800 border-t-4 border-gray-300 bg-white">

    <!-- Titulo de sección de comida -->
    <p class="text-center nunito-extra-bold mb-2" style="font-size: 24px;">TACOS</p>

    <!-- Card de platillo -->
    <div class="flex items-start space-x-4 py-2 border-b border-gray-300 bg-white">

      <!-- Contenido -->
      <div class="h-full flex flex-col items-start space-y-2">
        <h3 class="nunito-extra-bold" style="font-size: 16px;">VEGGIE</h3>
        <p class="text-gray-600 nunito-regular line-clamp-3" style="font-size: 12px;">
          Base de Hummus, Coliflor rostizada al ajo-chile, chile guero encurtido, cilantro y hierbabuena.
        </p>
        <span class="inline-flex items-center rounded-md bg-c-beige-100 px-4 py-1 nunito-extra-bold" style="font-size: 14px; color: #E55204;">MX $95.00</span>
      </div>

      <!-- Imagen con botón flotante -->
      <div class="relative w-32 h-32 bg-gray-300 flex-shrink-0 rounded-lg">

        <!-- Botón flotante -->
        <button class="absolute bottom-2 right-2 w-8 h-8 rounded-full bg-c-beige-100 text-white flex items-center justify-center shadow-lg" aria-label="Botón flotante">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#E55204" class="size-4"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
        </button>
      </div>
    </div>

    <!-- Card de platillo -->
    <div class="flex items-start space-x-4 py-2 border-b border-gray-300 bg-white">

      <!-- Contenido -->
      <div class="h-full flex flex-col items-start space-y-2">
        <h3 class="nunito-extra-bold" style="font-size: 16px;">FALAFEL</h3>
        <p class="text-gray-600 nunito-regular line-clamp-3" style="font-size: 12px;">
          Croquetas de garbanzo fritas, aderezo de yogurt, pepino, tomate, cebolla morada encurtida, mix de hierbas, en Pan Pita.
        </p>
        <span class="inline-flex items-center rounded-md bg-c-beige-100 px-4 py-1 nunito-extra-bold" style="font-size: 14px; color: #E55204;">MX $95.00</span>
      </div>

      <!-- Imagen con botón flotante -->
      <div class="relative w-32 h-32 bg-gray-300 flex-shrink-0 rounded-lg">

        <!-- Botón flotante -->
        <button class="absolute bottom-2 right-2 w-8 h-8 rounded-full bg-c-beige-100 text-white flex items-center justify-center shadow-lg" aria-label="Botón flotante">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#E55204" class="size-4"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
        </button>
      </div>
    </div>

  </section>

  <section class="bg-c-beige-100 py-6">
    <div class="text-center">
      <p class="nunito-extra-bold" style="color: #E55204; font-size: 12px;">Cerveceria Tres Islas - Todos los derechos reservados.</p>
    </div>
  </section>

</div>
